[user]
	name = cooldaemon
	email = cooldaemon@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	lg = log
	st = status
	ad = add
	co = commit
	di = diff
	ps = push origin master
	pl = pull origin master

