[user]
	name = cooldaemon
	email = cooldaemon@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	ls = ls-files
	lg = log
	di = diff
	st = status
	ad = add
	ci = commit
	co = checkout
	ps = push origin master
	pl = pull origin master
	br = branch
	sv = svn
	svr = svn rebase
	svci = svn dcommit
	svf = svn fetch svn

