[core]
	excludesfile = ~/.gitignore_global
[user]
	name = cooldaemon
	email = cooldaemon@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	ls = ls-files
	lg = log
	di = diff
	st = status
	ad = add
	ci = commit
	co = checkout
	ps = push
	pl = pull
	psom = push origin master
	plom = pull origin master
	psod = push origin develop
	plod = pull origin develop
	plr = pull --rebase
	plrom = pull --rebase origin master
	plrod = pull --rebase origin develop
	br = branch
	sub = submodule
	subu = submodule update
	sv = svn
	svr = svn rebase
	svci = svn dcommit
	svf = svn fetch svn
	fl = flow
	flfs = flow feature start
	flff = flow feature finish -k
	flffr = flow feature finish -kr
[merge]
	tool = vimdiff
