" search
set magic
set ignorecase
set smartcase
set incsearch

" Navigate
nmap gh :action PreviousTab<CR>
nmap gl :action NextTab<CR>
nmap gj :action Back<CR>
nmap gk :action Forward<CR>

" etc
set surround
